<!DOCTYPE html>    
<html>    
<head>
    <title>Login Form</title>    
    <link rel="stylesheet" href="static/style.css">  
</head>    
<body>
<form>
    <div class="login-box">
        <h1>Login</h1>
      <label for="e-mail"><b>Email</b></label>
      <input type="email" placeholder="Enter Email" name="e-mail" required><p>
  
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required><p>
  
      <button type="submit">Login</button><p>
    </div>
</form>
    <p class = "para-2">
        Don't have an account yet? <a href="registration">Sign Up Here</a>
    </p>
</body>
</html>